html {
    font-size: 16px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th {
    padding: 0;
    margin: 0;
}

td {
    border: 1px solid #000;
}

summary {
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

table {
    border-spacing: 0;
    border: 1px solid #000;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
    color: #444;
}

q:before,
q:after {
    content: "";
}

abbr,
acronym {
    border: 0;
}

#modal {
    display: none;
    .modal_btn {
        width: 90px;
        height: 40px;
    }
    input {
        width: 200px;
        height: 40px;
    }
}

$rem: 16rem;
.wrapper {
    margin: 0 auto;
    max-width: 1366px;
    .wrap {
        margin: 0 auto;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        .send {
            margin-top: 5%;
            padding: 10px;
            border: 2px solid #000;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        .send__form {
            display: flex;
            flex-direction: column;
            width: 300px;
             :nth-child(2) {
                margin: 3% 0 0 0;
            }
             :nth-child(3) {
                margin: 3% 0 8% 0;
            }
             :nth-child(4) {
                margin: 0 0 0 0;
            }
             :nth-child(5) {
                margin: 3% 0 0 0;
            }
             :nth-child(6) {
                margin: 3% 0 0 0;
            }
             :nth-child(7) {
                margin: 3% 0 8% 0;
            }
             :nth-child(8) {
                margin: 0 0 0 0;
            }
             :nth-child(9) {
                margin: 3% 0 0 0;
            }
             :nth-child(10) {
                margin: 3% 0 5% 0;
            }
            .send__form__text {
                font-family: "Open Sans";
                font-weight: bold;
            }
            .send__form__input {
                width: 296px;
                height: 50px;
                font-size: 1.2rem;
                font-family: "Open Sans", sans-serif;
                outline: none;
                padding-left: 5px;
            }
            .send__form__button {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                margin: 3% 0 0 0;
                width: 80px;
                height: 40px;
                font-family: "Open Sans", sans-serif;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(41, 161, 191);
                background: linear-gradient(90deg, rgba(41, 161, 191, 1) 0%, rgba(158, 214, 228, 1) 100%);
                color: beige;
                border: 0;
                border-radius: 3px;
                font-weight: bold;
            }
        }
    }
}

.data__base {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin: 3% 0 3% 0;
    font-family: "Open Sans", sans-serif;
    .btn-table {
        width: 20px;
        height: 15px;
        img {
            width: 20px;
            height: auto;
        }
    }
}